@import "~antd/dist/antd.css";

.tabSlider {
  width: 90vw;
  max-width: 1250px;
  margin: 0 auto;
  height: auto;
  background-color: transparent;
  overflow: auto;
}

.serie__homeImage {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 28rem;
  z-index: -1;
  margin-bottom: -26rem;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(87, 85, 85, 0.1)
  );
}

.paginationCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
}

.mobileVisible {
  display: none;
  max-height: 0;
}

.mobileHidden {
  display: block;
}
.tabletVisible {
  display: none;
  max-height: 0;
}

.tabletHidden {
  display: block;
}
/* 
responsive
----------
*/
@media only screen and (max-width: 991px) {
  .tabSlider {
    width: 100%;
    max-width: 767px;
  }

  .tabletVisible {
    display: block;
  }

  .tabletHidden {
    display: none;
    max-height: 0;
  }
}

@media only screen and (max-width: 767px) {
  .mobileVisible {
    display: block;
  }

  .mobileHidden {
    display: none;
    max-height: 0;
  }

  .tabSlider {
    width: 90vw;
    max-width: 650px;
    margin: 0 auto;
    height: auto;
    background-color: transparent;
    overflow: auto;
  }
}
